

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;

  color: var(--text-color);

  .left-side {
    height: 100%;
    overflow-y: auto;
    flex: 1 1 auto;

    min-width: 200px;
    max-width: 200px;
    border-right: 1px solid var(--title-background-color);

    .user-list {

      padding: 3px;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      .user {

        // margin-right: 16px !important;
        overflow: hidden;

        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        .user-marking {
          width: 10px;
          height: 10px;
          min-width: 10px;
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;

          &.tier-10 {
            background: purple;
            background: linear-gradient(135deg, #ad3486 0%, #4100db 50%, #bdf3fd 100%);
          }

          &.tier-5, &.tier-1 {
            background: #9f8914;
            background: linear-gradient(135deg, #9f8914 0%, #3e370e 50%, #ffd700 100%);
          }

          &.tier-0 {
            background: gray;
            background: linear-gradient(135deg, #ccc 0%, #555 50%, #eee 100%);
          }

          &.tier-7 {
            background: blue;
            background: linear-gradient(135deg, #00f 0%, #004 50%, #0aa 100%);
          }
        }

        .user-name {
          flex: 1;
        }

        .in-game {
          min-width: 16px;
          max-width: 16px;
          position: absolute;
          right: 5px;
        }

      }
    }
  }

  .right-side {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .motd {
      min-height: 16px;
      padding: 3px;
    }

    .output-area {
      flex: 1;
      border-top: 1px solid var(--title-background-color);
      border-bottom: 1px solid var(--title-background-color);
      overflow-y: scroll;

      .message {
        word-break: break-word;
        font-size: 1.2rem;

        .timestamp {
          min-width: 55px;
          display: inline-block;
        }

        .username {
          font-weight: bold;
          margin-right: 10px;
        }
      }
    }

    .input-area {
      min-height: 32px;

      display: flex;
      flex-direction: row;

      .input {
        flex: 1;
        background-color: var(--window-background-color);
        border-width: 0;
        border-right: 1px solid var(--title-background-color);
        color: var(--text-color);
        padding: 5px;
        font-size: 1.1rem;

        outline: none !important;
      }

      .button {
        min-width: 32px;
        background-color: blue;
        border-radius: 0;
      }
    }
  }
}
