<app-window windowName="quests"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="true"
            [initialHide]="true"
            [alwaysOnTop]="true"

            defaultX="450"
            defaultY="100"
            defaultWidth="550"
            defaultHeight="650"
></app-window>

<ng-template #headTemplate>
  Quest Log
</ng-template>

<ng-template #bodyTemplate>
  <ng-container *ngIf="player">

    <mat-tab-group mat-align-tabs="center" class="bring-to-top" [selectedIndex]="0" animationDuration="0ms">

      <mat-tab label="Active Quests">
        <div class="vertical-center full-width full-height background-text" *ngIf="(player.quests.activeQuestProgress | keyvalue).length === 0">You don't have any active quests</div>

        <mat-list>
          <ng-container *ngFor="let playerQuest of player.quests.activeQuestProgress | keyvalue">
            <mat-list-item *ngIf="getQuest(playerQuest.key) as quest">
              <h2 matLine><strong>{{ quest.name }}</strong></h2>
              <div class="progress-container" matLine *ngIf="playerQuest.value.percentComplete">
                <span class="progress-value">{{ playerQuest.value.rawValue }} / {{ playerQuest.value.rawValueMax }}</span>
                <mat-progress-bar mode="determinate" [value]="playerQuest.value.percentComplete * 100"></mat-progress-bar>
              </div>
              <h5 matLine><em>Given By: {{ quest.giver }}</em></h5>
              <p matLine>
                {{ quest.desc }}
              </p>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-tab>

      <mat-tab label="Completed Quests">
        <div class="vertical-center full-width full-height background-text" *ngIf="(player.quests.permanentQuestCompletion | keyvalue).length === 0">You don't have any completed quests</div>

        <mat-list>
          <ng-container *ngFor="let playerQuest of player.quests.permanentQuestCompletion | keyvalue">
            <mat-list-item *ngIf="getQuest(playerQuest.key) as quest">
              <h2 matLine>{{ quest.name }}</h2>
              <h5 matLine>Given By: {{ quest.giver }}</h5>
              <p matLine>
                {{ quest.desc }}
              </p>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-tab>

    </mat-tab-group>
  </ng-container>
</ng-template>
