
mat-tab-group {
  height: 100%;
}

mat-list {
  min-height: 573px;
  max-height: 573px;
  overflow-y: auto;
}

.progress-container {

  position: relative;
  overflow: visible;

  .progress-value {
    position: absolute;
    right: 0;
    top: -20px;
  }
}
