


app-npc {
  float: left;
  margin-right: 16px;
}

:host {
  color: white;
}

.trainer-container {
  padding: 10px;

  .trainer-intro {
    margin-bottom: 40px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    .skill {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;

      &.active app-skill-icon {
        border-radius: 50%;
        box-shadow: 0px 0px 1px 1px #aaa;
        animation: glow 1000ms linear infinite alternate;

        @keyframes glow {
          to {
            box-shadow: 0px 0px 5px 5px #bbb;
          }
        }
      }
    }
  }
}
