.item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

  .item-slot {
    margin: 2px;
  }
}

.display-table {
  width: 100%;
  height: 100%;
  color: #fff;

  tr td:first-child {
    padding-left: 10px;
    width: 44px;
  }

  td.label {
    font-weight: bold;
    letter-spacing: 1px;
  }

  td.number {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3rem;
    min-width: 40px;

    .number-container {
      position: relative;

      app-item {
        position: absolute;
        right: -20px;
        top: 0;
      }
    }
  }

  td.icon {
    width: 24px;
    padding-right: 10px;
  }
}
