<app-window windowName="inventorySack"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="true"

            defaultX="962"
            defaultY="498"
            defaultWidth="350"
            defaultHeight="384"

></app-window>

<ng-template #headTemplate>
  Sack
</ng-template>

<ng-template #bodyTemplate>
  <ng-container *ngIf="player$ | async as player">
    <app-inventory context="Sack" [container]="player.items.sack" [size]="25"></app-inventory>
  </ng-container>
</ng-template>
