
<app-window windowName="map"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="false"
            [willNotHide]="true"
            (hide)="quitGame()"

            defaultX="349"
            defaultY="101"
            defaultWidth="576"
            defaultHeight="608"
></app-window>

<ng-template #headTemplate>
  <ng-container *ngIf="currentPlayer | async as player">
    Map - {{ player.map }}
  </ng-container>
</ng-template>

<ng-template #bodyTemplate>
  <div class="dropzone"
       dropScope="mapground"
       (onDrop)="uiService.buildAndDoDropAction($event, 'ground')" 
       droppable></div>

  <app-active-target></app-active-target>

  <div class="loader" *ngIf="loadString" [class.fade-out]="fadeOut">
    {{ loadString }}
  </div>

  <div class="map"></div>

  <div class="dying-border" *ngIf="canSeeLowHealthBorder"></div>

  <div class="item-text" *ngIf="itemTooltip$ | async" [innerHTML]="itemTooltip$ | async"></div>
</ng-template>