
<app-window windowName="map"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="false"
            [willNotHide]="true"
            (hide)="quitGame()"

            defaultX="385"
            defaultY="101"
            defaultWidth="576"
            defaultHeight="608"
></app-window>

<ng-template #headTemplate>
  <ng-container *ngIf="currentPlayer | async as player">
    Map - {{ player.map }} <span *ngIf="optionsService.debugUI">(X:{{ player.x }} Y:{{ player.y }} Z:{{ player.z }})</span>
  </ng-container>
</ng-template>

<ng-template #bodyTemplate>
  <div class="dropzone"
       dropScope="mapground"
       (onDrop)="uiService.buildAndDoDropAction($event, 'ground')"
       droppable></div>

  <div class="loading-cover" *ngIf="hideMapFromView"></div>

  <app-active-target></app-active-target>

  <div class="loader" *ngIf="loadString" [class.fade-out]="fadeOut" [innerHTML]="loadString"></div>

  <div class="map"></div>

  <div class="dying-border"
       [style.--blur-max-size]="optionsService.dyingBorderWidth"
       *ngIf="canSeeLowHealthBorder"></div>

  <div class="item-text" *ngIf="itemTooltip$ | async" [innerHTML]="itemTooltip$ | async"></div>
</ng-template>
