<h1 mat-dialog-title>{{ data.displayTitle || 'A Mysterious Voice' }}</h1>
<div mat-dialog-content>

  <app-npc *ngIf="data.displayNPCSprite >= 0" [sprite]="data.displayNPCSprite"></app-npc>

  <app-item *ngIf="data.displayItemName" [item]="{ name: data.displayItemName, mods: {} }"></app-item>

  <div [innerHTML]="data.message || 'I don\'t know what to say.'"></div>

</div>

<div mat-dialog-actions>
  <button mat-button
          [mat-dialog-close]="option.action"
          [color]="option.action !== 'noop' ? 'primary' : ''"
          *ngFor="let option of data.options">{{ option.text }}</button>
</div>
