<app-window windowName="adventureLog"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="false"

            defaultX="4"
            defaultY="401"
            defaultWidth="344"
            defaultHeight="308"

></app-window>

<ng-template #headTemplate>
  Adventure Log
</ng-template>

<ng-template #bodyTemplate>
  <div class="buttons">
    <ng-container *ngFor="let tab of ['All', 'General', 'Combat']">
      <button class="tab-button" mat-raised-button [color]="tab === (gameService.logMode$ | async) ? 'primary' : ''" (click)="changeTab(tab)">{{ tab }}</button>
    </ng-container>
  </div>
  <div class="log-area" *ngIf="(gameService.logMode$ | async) as logMode">
    <div class="message" *ngFor="let message of messages" [ngClass]="message.messageTypes" [class.hidden]="!isMessageVisible(logMode, message)">
      {{ message.message }}
    </div>
  </div>
</ng-template>