
.buttons {
  display: flex;
  justify-content: space-around;

  button {
    line-height: 22px;
  }
}

.log-area {
  padding: 5px;

  max-height: calc(100% - 32px);
  overflow: auto;

  color: var(--text-color);
}