
.buttons {
  display: flex;
  justify-content: space-around;

  .tab-button {
    flex: 1;
    line-height: 22px;
    border-radius: 0;
    outline: 1px solid #212121;
  }
}

.log-area {
  padding: 5px;

  max-height: calc(100% - 32px);
  overflow: auto;

  color: var(--text-color);
}