<app-window windowName="playerStatus"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="false"

            defaultX="349"
            defaultY="4"
            defaultWidth="576"
            defaultHeight="96"
></app-window>

<ng-template #headTemplate>
  <ng-container *ngIf="player">
    {{ player.name }} the {{ player.alignment }} level {{ player.level }} {{ player.baseClass }}
  </ng-container>
</ng-template>

<ng-template #bodyTemplate>
  <div class="container" *ngIf="player">
    
    <div class="buffs"
         droppable
         (onDrop)="uiService.buildAndDoDropAction($event, 'use')" 
         dropScope="use">
      <ng-container *ngIf="effects.length > 0; else noEffects">
        <app-effect-icon [effect]="effect" defaultTransparent="true" *ngFor="let effect of effects; trackBy:trackEffectBy" (contextmenu)="unapply($event, effect)"></app-effect-icon>
      </ng-container>

      <ng-template #noEffects>
        <div class="true-center background-text full-height">Drop a potion or food here to consume it</div>
      </ng-template>
    </div>

    <div class="bars">
      <div class="top-bars">
        <div class="bar-container hp">
          <span class="bar" [style.width]="(player.hp.current / player.hp.maximum * 100) + '%'"></span>
          <span class="bar-text">{{ player.hp.current }}/{{ player.hp.maximum }}</span>
        </div>
        <div class="bar-container energy {{ player.baseClass }}">
          <span class="bar" [style.width]="(player.mp.current / player.mp.maximum * 100) + '%'"></span>
          <span class="bar-text">{{ player.mp.current }}/{{ player.mp.maximum }}</span>
        </div>
      </div>

      <div class="bottom-bars">
        <div class="bar-container exp">
          <span class="bar" [style.width]="xpPercent(player) + '%'"></span>
          <span class="bar-text">{{ player.exp | number }}</span>
        </div>
      </div>
    </div>

  </div>
</ng-template>