.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.buffs {
  width: 320px;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  app-effect-icon {
    font-size: 80%;
    padding: 1px;
  }
}

.bars {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  border-left: 1px solid #000;

  .top-bars {
    flex: 1;
    display: flex;

    .hp,
    .energy {
      flex: 1;
    }

    .hp .bar {
      background-color: #dc3545;
    }

    .energy {
      border-left: 1px solid #000;

      &.Healer .bar,
      &.Mage .bar,
      &.Arcanist .bar {
        background-color: #007bff;
      }

      &.Warrior .bar,
      &.Thief .bar {
        background-color: #ffc107;
      }

      &.Traveller {
        display: none;
      }
    }
  }

  .bottom-bars {
    flex: 1;
    display: flex;
    border-top: 1px solid #000;

    .exp {
      width: 100%;

      .bar {
        background-color: #28a745;
      }
    }

    .axp {
      width: 100%;

      .bar {
        background-color: #aa5c39;
      }
    }
  }
}
