.subscribe-banner {
    color: #fff;
    position: absolute;
    bottom: 20px;
    width: 75%;
    left: 12.5%;
    text-align: center;
  }
  
  .silver-modal {
    max-width: 80%;
  
    .top-container {
      text-align: center;
    }
  
    .icon-container {
      border-radius: 15%;
      overflow: hidden;
      max-width: 48px;
    }
  }