

<app-menu></app-menu>

<app-login 
  *ngIf="!socketService.isConnected || (gameService.loggedIn$ | async) === false"
></app-login>

<app-lobby-container 
  *ngIf="socketService.isConnected && (gameService.loggedIn$ | async)"
></app-lobby-container>

<app-game-container></app-game-container>

<app-options-container></app-options-container>

<!-- If we are logged in and not subscribed, suggest checking out a subscription -->
<div *ngIf="socketService.isConnected && (gameService.loggedIn$ | async) === true">
  <div class="subscribe-banner" *ngIf="account$ | async as account">
    <span *ngIf="!account.isSubscribed">
      You're not currently subscribed. Please consider subscribing or buying silver to help keep the lights on! Want to know what you get for subscribing?
      <br>
      <a href="http://rair.land/docs/subscriber-benefits/" target="_blank">Click this link to see all the awesome perks of subscribing!</a>
    </span>
  </div>
</div>