<app-window windowName="characterList"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="false"

            defaultX="4"
            defaultY="101"
            defaultWidth="344"
            defaultHeight="300"
></app-window>

<ng-template #headTemplate>
  Characters In View
</ng-template>

<ng-template #bodyTemplate>
  <ng-container *ngIf="player">
    <div class="p-1 char-container">
      <div class="vertical-center full-width full-height background-text" *ngIf="visibleCharacterList.length === 0">You don't see anyone nearby</div>
      <div class="char-card-container" *ngFor="let character of visibleCharacterList; let i = index">
        <app-character-card [origin]="player" [char]="character" *ngIf="character" (click)="doAction(character, $event)" (contextmenu)="doAltAction(character, $event)"></app-character-card>
      </div>
      <div class="char-spacer" *ngIf="visibleCharacterList.length % 2 === 1"></div>
    </div>
  </ng-container>
</ng-template>
