
<div class="item-container" droppable
                            [dropScope]="realDropContext.toLowerCase()"
                            (onDrop)="uiService.buildAndDoDropAction($event, context)"
                            *ngIf="player$ | async as player">

  <div class="item-slot item-background" *ngFor="let slot of slots" [class.selected]="uiService.isSelected(realDropContext, slot)">

    <app-item *ngIf="container?.items[slot]"
              [size]="displaySize"
              [context]="context"
              [contextSlot]="slot"
              [showDesc]="true"
              [showOunces]="true"
              [viewingPlayer]="player"
              [item]="container.items[slot]"></app-item>
  </div>
</div>
