<div
  class="macro-container"
  [class.active]="isActive"
  [class.has-macro]="macroRef"
  [class.disable-effects]="disableEffects"
>
  <div class="macro">
    <!-- [popover]="macroTooltipTemplate" -->
    <app-icon
      [name]="iconName"
      [disabled]="disabled"
      [bgColor]="background"
      [fgColor]="foreground"
    ></app-icon>

    <div class="cooldown" *ngIf="cooldownDisplay">{{ cooldownDisplay }} s</div>

    <div class="keybind" *ngIf="macroKeybind">
      {{ macroKeybind }}
    </div>
  </div>

  <!-- TODO: re-enable this
  <popover-content
    #macroTooltipTemplate
    [placement]="'top'"
    [popoverDisabled]="!macroRef || !showTooltip"
    mdePopoverEnterDelay="1000"
  >
    <mat-card class="tooltip-card">
      <mat-card-title>
        <strong>{{ macroName || 'Empty' }}</strong>
      </mat-card-title>
      <mat-card-content>
        <div *ngIf="player$ | async as player">
          {{ reformatTooltipTextForPlayer(player, macroTooltip) }}
        </div>
      </mat-card-content>
    </mat-card>
  </popover-content>
  -->
</div>
