.achievement-container {
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  .icon-container {
    width: 84px;

    .icon {
      display: inline-block;
      outline-width: 3px;
      outline-style: solid;
    }
  }

  .text {
    flex: 1;
    margin-left: 24px;

    .notification {
      font-size: 1rem;
      font-weight: bold;
    }

    .title {
      font-size: 1.75rem;
      margin-bottom: 8px;
      margin-top: 8px;
    }

    .desc {
      font-size: 1rem;
      font-style: italic;
    }
  }
}
