
<app-window windowName="macroBar"
            [head]="headTemplate"
            [body]="bodyTemplate"
            [canHide]="false"

            defaultX="349"
            defaultY="772"
            defaultWidth="576"
            defaultHeight="96"

></app-window>

<ng-template #headTemplate>
  Macros
</ng-template>

<ng-template #bodyTemplate>
  <ng-container *ngIf="allMacros$ | async as allMacros">
    <div class="macro-group-container" *ngIf="(macros$ | async) as macros">
      <div *ngFor="let group of macros.activeMacroBars; let i = index">
        <div class="macro-group" *ngIf="macros.macroBars[group]">
    
          <div class="group-name">
            <div class="arrow arrow-left" (click)="changeMacroGroup(macros.activeMacroBars, macros.macroBars, i, -1)">
              &#9664;
            </div>
    
            <div class="text-rotated">
              {{ group }}
            </div>
    
            <div class="arrow arrow-right" (click)="changeMacroGroup(macros.activeMacroBars, macros.macroBars, i, 1)">
              &#9654;
            </div>
          </div>
    
          <div class="macrobar-item" *ngFor="let macroIdx of macroArray">
    
            <app-macro
              [size]="size"
              (click)="operateOnMacro(allMacros[macros.macroBars[group].macros[macroIdx]])"
              [macroRef]="allMacros[macros.macroBars[group].macros[macroIdx]]"
              [isActive]="macros.macroBars[group].macros[macroIdx] === macros.activeMacro"
            ></app-macro>
    
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>