
.char-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 90px;

  .tab-button {
    flex: 1;
    min-width: 20%;
    max-width: 25%;
    line-height: 22px;
    height: 45px;
    border-radius: 0;
    outline: 1px solid #212121;
  }
}

mat-button-toggle-group {
  display: flex;
  flex-direction: column;
}

.create-button, .play-button {
  width: 50%;
  border-radius: 0;
}

.character-slot {
  border-bottom: 1px solid #000;


  &:nth-child(odd) .char-container {
    text-align: left;
  }

  &:nth-child(even) .char-container {
    text-align: right;
  }
}

.char-container {
  line-height: 20px;
  width: 200px;
}

.char-viewer {

  display: flex;
  padding-top: 20px;

  .left-side {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sprite {
      display: flex;
      justify-content: center;
    }

    .about {
      margin-top: 20px;
      text-align: center;
      color: #fff;

      .name {
        text-align: center;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      padding-left: 5px;

      button {
        width: 100%;
      }
    }
  }

  .right-side {
    width: 350px;
    max-width: 350px;
  }
}

.create-area {
  height: 300px;
}
