
<!-- <app-game-container> will contain all of the game windows -->
<div class="game" [class.hidden]="(gameService.inGame$ | async) === false">
  <app-map></app-map>
  <app-command-line></app-command-line>
  <app-adventure-log></app-adventure-log>
  <app-inventory-belt></app-inventory-belt>
  <app-inventory-pouch></app-inventory-pouch>
  <app-inventory-sack></app-inventory-sack>
  <app-equipment-main></app-equipment-main>
  <app-player-status></app-player-status>
  <app-character-list></app-character-list>
  <app-macro-bar></app-macro-bar>
  <app-ground></app-ground>
  <app-trainer></app-trainer>
  <app-vendor></app-vendor>
  <app-traits></app-traits>
</div>