:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.window {
  width: 50%;
  max-width: 50%;
  position: relative;
}

div.full-width {
  display: flex;
  align-items: center;

  mat-form-field {
    flex: 1;
  }

  button {
    margin-left: 10px;
  }
}

div.multi-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-width: 150px;

  button {
    flex: 1;

    mat-icon {
      margin-right: 0;
    }
  }
}