
.char-container {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.duration-container {
  color: #fff;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

.stats-container {
  padding: 20px;
}

.silly-goat {
  text-align: center;
  color: #fff;
}