:host {
  position: absolute;
  
  z-index: 2000;
}

.root-icon {
  width: 64px;
  height: 64px;

  position: fixed;
  left: 10px;
  top: 10px;

  cursor: pointer;

  z-index: 2001;
}

.activated {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 11px;
  top: 10px;

  border-radius: 50%;
  border: 1px solid #999;

  box-shadow: 0 0 5px 1px #fff;
}

.status-indicator {
  position: fixed;
  left: 85px;
  top: 25px;
}

.menu-container {
  position: fixed;
  top: 70px;

  .menu-item {
    font-size: 10px;
    position: absolute;

    left: 23px;

    border: 1px solid #fff;
  }
}