
<img src="assets/favicon/android-chrome-512x512.png" class="root-icon" *ngIf="gameService.loggedIn$ | async" (click)="toggleMenu()" />
<img src="assets/favicon/android-chrome-512x512.png" class="root-icon" *ngIf="(gameService.loggedIn$ | async) === false" />
<div class="activated" *ngIf="gameService.loggedIn$ | async"></div>

<div class="status-indicator">

  <mat-chip-list *ngIf="!socketService.isConnected">
    <mat-chip color="warn" selected>
      <mat-icon class="m-r-10">offline_bolt</mat-icon> Disconnected. Reconnecting...
    </mat-chip>
  </mat-chip-list>

  <mat-chip-list *ngIf="!assetService.assetsLoaded">
    <mat-chip color="primary" selected>
      <mat-icon class="m-r-10">play_for_work</mat-icon> Loading assets...
    </mat-chip>
  </mat-chip-list>

  <mat-chip-list *ngIf="assetMismatchWarning">
    <mat-chip color="warn" selected>
      <mat-icon class="m-r-10">warning</mat-icon> Asset mismatch error - Items/NPCs may not render correctly. Reload to fix.
    </mat-chip>
  </mat-chip-list>

  <mat-chip-list *ngIf="minimumResolutionWarning">
    <mat-chip color="warn" selected>
      <mat-icon class="m-r-10">warning</mat-icon> Warning: Land of the Rair is best played with a resolution of at least 1280x900. You can still play and shrink some UI elements, but it might negatively affect your gameplay.
    </mat-chip>
  </mat-chip-list>

</div>

<div *ngIf="isMenuVisible" class="menu-container">
  <ng-container *ngFor="let menuItem of menuItems; let i = index">
    <button mat-mini-fab 
            class="menu-item" 
            [class.hidden]="!menuItem.name"
            *ngIf="!menuItem.visibleIf || (menuItem.visibleIf | async)"
            (click)="menuItem.handler()"
            [style.top]="(i * 50) + 'px'">
      {{ menuItem.name }}
    </button>
  </ng-container>
</div>