

.item-background {
  background-color: #ccc;
  box-shadow: 3px 3px 5px #aaa;
  border-radius: 3px;
}

.item-slot {
  position: relative;
  user-select: none;

  .item-slot-bg-text {
    position: absolute;
    user-select: none;
    color: #888;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 100px;

    &.small {
      font-size: 75%;
    }

    &.xsmall {
      font-size: 50%;
    }
  }
}

.item-slot {
  width: 64px;
  height: 64px;
}

.small {
  .item-slot {
    width: 48px;
    height: 48px;
  }
}

.xsmall {
  .item-slot {
    width: 32px;
    height: 32px;
  }
}

.drag-over-border {
  border: none !important;
  outline: 3px dashed green !important;
  outline-offset: -2px;
}

.drag-hint-border {
  border: none !important;
  outline: 3px dashed blue;
  background-color: rgba(0, 0, 255, 0.2);
  outline-offset: -2px;
}

.drag-border {
  border: none !important;
  outline: 3px dashed red;
}

// https://codepen.io/shanomurphy/pen/ejpVLw
.cdk-overlay-pane.fancy .mat-dialog-container {
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;

  padding-top: 0;
}