
<div class="item-container"
    [ngClass]="[size]"
    [class.transparent]="showOutline"
    draggable
    [dragScope]="scopes"
    [dragEnabled]="item && !displayOnly"
    [dragData]="getDragData()"
    (click)="attemptToMultiselect($event)"
    (contextmenu)="automaticallyTakeActionBasedOnOpenWindows()"
    (mouseover)="updateWithDesc()"
    (mouseenter)="determineScopes()"
    (mouseout)="removeDesc()"
    (mouseleave)="removeDesc()">
  <img [src]="imgUrl"
      [style.object-position]="spriteLocation"
      [class.hidden]="!item"
      [class.animate]="shouldAnimate"
      [class.transparent]="transparent"
      [ngClass]="['cosmetic-item-' + cosmeticName]" />
  <img [src]="imgUrl" [style.object-position]="encrustLocation" class="encrust" *ngIf="item && showEncrust && item.mods.encrustItem" />
  <div class="item-background" *ngIf="item && showBackground"></div>
  <div class="glow-container" [ngClass]="[glowColor]" *ngIf="item && showDesc"></div>
  <div class="animation-container"
      [class.animate]="shouldAnimate"
      [ngClass]="['cosmetic-bg-' + cosmeticName]"
      *ngIf="item && cosmeticName"></div>
  <span class="count" *ngIf="item && showCount && realCount > 0">{{ realCount | number }} <small>x</small></span>
  <span class="ounces" *ngIf="item && showOunces && realOunces >= 0">{{ realOunces | number }} <small>oz</small></span>
  <span class="value" *ngIf="item && showValue">{{ overrideValue || ((item.mods.buybackValue || item.mods.value | goldify)) }}</span>
  <span class="value" *ngIf="item && showOunces && realSuccorInfo">{{ realSuccorInfo.map }}</span>
  <span class="ounces" *ngIf="item && showDesc && realItem?.trapEffect && realItem?.itemClass === 'Trap'">{{ item.mods.trapUses }} <small>x</small> {{ realItem.trapEffect.name }}</span>
</div>
